---
title: u2pt2
layout: _main.njk
---

<section class="bg-brand-red flex flex-col items-center justify-center py-12">
  <button id="button" class="bg-yellow-300 px-4 py-2 rounded-lg h-12">
    <span role="img" aria-label="confetti ball">🎊 Fire the confetti</span>
  </button>
  <p class="mt-12">{{title}}</p>
</section>

<section class="bg-yellow-200 flex items-center justify-center py-12">
  <canvas id="canvas" width="800" height="400"></canvas>
</section>